body {
    font-family: sans-serif;
    background: #aaa;
}
a {
    text-decoration: underline;
    color: #000;
}
a:hover {
    text-decoration: none;
}
button, a.button {
    border: 1px solid #444;
    background: #fff;
    font-size: 12px;
    padding: 4px;
    text-decoration: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
h1 {
    padding: 10px;
    font-size: 40px;
    text-transform: uppercase;
}
h2 {
    font-size: 24px;
    margin-bottom: 30px;
}
.webfont {
    text-transform: uppercase;
}
header {
    width: 1000px;
    height: 68px;
    margin: 30px auto 0;
    border: 1px solid black;
    background: #eee;
    -moz-box-shadow: 0px 0px 30px #444;
    -webkit-box-shadow: 0px 0px 30px #444;
    box-shadow: 0px 0px 30px #444;
}
header nav.main-menu {
    float: right;
    margin-right: 10px;
}
header nav.main-menu li {
    display: inline;

}
header nav.main-menu a {
    color: #fff;
    background: #222;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}
header nav.main-menu a:hover,  header nav.main-menu li.selected a {
    background: #666;
}
header .login {
    float: right;
    margin: 10px;
}
header .login p, header .login a {
    font-size: 11px;
}
header .login a {
    text-decoration: underline;
}
header .login a:hover {
    text-decoration: none;
}
header .login span {
    font-weight: bold;
}
header .login span:after {
    content: " | ";
}
.page-wrapper {
    background: #fff;
    margin: 0 auto;
    min-height: 400px;
    width: 1000px;
    border: 1px solid #444;
    -moz-box-shadow: 0px 0px 30px #444;
    -webkit-box-shadow: 0px 0px 30px #444;
    box-shadow: 0px 0px 30px #444;
}
.page-wrapper nav.submenu {
    background: #aaa;
    padding: 5px;
}
.page-wrapper nav.submenu li {
    display: inline;
}
.page-wrapper nav.submenu a {
    margin-left: 5px;
    text-decoration: none;
}
.page-wrapper nav.submenu a:before {
    content: "\00bb\ ";
}
.page-wrapper nav.submenu a:hover:before, .page-wrapper nav.submenu li.selected a:before {
    color: #00f;
}
.page-wrapper .content {
    padding: 20px;
    min-height: 400px;
}
.page-wrapper .content form {
    padding: 10px;
    margin: 10px;
    background: #eee;
    width: 400px;
}
.page-wrapper .content form label {
    display: inline-block;
    float: left;
    margin: 5px 10px 0 0;
    text-align: right;
    width: 150px;
}
.page-wrapper .content form .field {
    margin-top: 10px;
    vertical-align: top;
}
.page-wrapper .content form .flip input {
    float: left;
    margin: 3px 0 0 160px;
}
.page-wrapper .content form .flip label {
    float: left;
}
.page-wrapper .content form button {
    margin-top: 20px;
    margin-left: 160px;
}
.page-wrapper .content form input {
    border: 1px solid #444;
    padding: 4px;
}
.page-wrapper .content form .error input,
.page-wrapper .content form .error select,
.page-wrapper .content form .error textarea {
    border: 1px solid #f00;
}
.page-wrapper .content form .error li {
    font-size: 12px;
    color: #f00;
    list-style: none;
    margin-left: 160px;
}
.page-wrapper .content form .errors {
    margin-top: 3px;
}
.page-wrapper .content table {
    margin: 10px;
}
.page-wrapper .content table td {
    border: 1px #666 solid;
    padding: 5px;
}
.page-wrapper .content table thead td {
    background: #aaa;
}
.page-wrapper .content table tbody tr:nth-child(even) {
    background: #eee;
}
footer {
    text-align: center;
    margin-top: 5px;
}
footer p, footer a {
    display: inline;
    font-size: 13px;
}
/* @begin =list-wrapper */
.list-wrapper .content table {
    margin: 0 auto;
    width: 960px;
}
/* @end =list-wrapper */
/* @begin =paginator */
.pagination {
    margin-top: 10px;
    text-align: center;
}
.pagination ul {
    display: inline-block;
    margin-left: 10px;
}
.pagination ul li {
    margin: 0 5px;
    display: inline-block;
}
.pagination ul li a, .pagination ul li {
    color: #888;
    text-decoration: none;
}
.pagination ul li a:hover, .pagination ul li.current a {
    color: #000;
    text-decoration: underline;
}
/* @end =paginator */
/* @begin =messenger */
.messenger {
    background: #eee;
    border: 1px solid black;
    box-shadow: 0px 5px 5px #444;
    margin: 5px auto 0;
    -moz-box-shadow: 0px 5px 5px #444;
    -webkit-box-shadow: 0px 5px 5px #444;
    padding: 5px;
    text-align: center;
    width: 960px;
}
.messenger.msg-error {
    color: #aa4444;
}
.messenger.msg-ok {
    color: #44aa44;
}
/* @end =messenger */
/* @begin =error-wrapper */
.error-wrapper .content {
    text-align: center;
}
.error-wrapper .content h1 {
    font-size: 85px;
    margin: 50px 0;
}
.error-wrapper .error-info h3 {
    margin: 20px 0 10px;
}
.error-wrapper .error-info h3:first-child {
    margin-top: 0;
}
.error-wrapper .error-info {
    border: 1px solid #000;
    overflow-x: scroll;
    overflow-y: none;
    padding: 10px;
    text-align: left;
}
/* @end =error-wrapper */
/* @begin =tasks */
/* @begin =tasks-list */
.task-list table td {
    text-align: center;
    vertical-align: middle;
}
.task-list table td.name {
    width: 250px;
}
.task-list table td.author {
    width: 200px;
}
/* @end =tasks-list */
/* @begin =tasks-my-list */
.tasks-my table td.actions {
    width: 150px;
}
.tasks-my h2 {
    float: left;
}
.tasks-my .head-actions {
    display: block;
    float: right;
    height: 22px;
    text-align: right;
}
.tasks-my .head-actions a {
    background-color: #ddd;
    display: inline-block;
    margin: -2px 5px;
    padding: 5px 10px;
    text-decoration: none;
}
.tasks-my .head-actions a:hover {
    background-color: #bbb;
}
/* @end =tasks-my-list */
/* @begin =tasks-form */
.standalone-form .content form {
    width: auto;
}
.standalone-form .content form .field label {
    width: 300px;
}
.standalone-form .content form .error li {
    margin-left: 310px;
}
.standalone-form .content form button {
    margin-left: 310px;
}
/* @end =tasks-form */
/* @begin =tasks-show */
.task-show .head {
    margin-bottom: 20px;
}
.task-show .head h3 {
    float: left;
    font-size: 22px;
    display: inline-block;
}
.task-show .head span {
    display: block;
    height: 22px;
    text-align: right;
}
.task-show .head span a {
    background-color: #ddd;
    display: inline-block;
    margin: -2px 5px;
    padding: 5px 10px;
    text-decoration: none;
}
.task-show .head span a:hover {
    background-color: #bbb;
}
.task-show .desc {
    margin-top: 35px;
}
.task-show .desc label {
    font-weight: bold;
}
.task-show .desc p {
    background-color: #efefef;
    padding: 5px;
    margin-top: 10px;
}
/* @end =tasks-show */
/* @end =tasks */
/* @begin =solution-show */
.solution-show .desc {
    margin-top: 35px;
}
.solution-show .desc label {
    font-weight: bold;
}
.solution-show .desc p {
    background-color: #efefef;
    padding: 5px;
    margin-top: 10px;
}
.solution-show .content form textarea {
    height: 400px;
}
/* @end =solution-show */